.payment-content .payment-item:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}
.btns {
  border-radius: 4px;
  transition: 0.4s all ease-in-out;
  display: flex;
  display: inline-block;
  color: white;
  margin-top: 20px;
}
@media (max-width: 400px) {
  .btns {
    display: block;
  }
}
@media (max-width: 400px) {
  .btns button {
    display: block;
    margin: auto;
  }
}
.btns button:nth-child(2) {
  background-color: rgb(54 179 126);
  margin-left: 10px;
}
@media (max-width: 400px) {
  .btns button:nth-child(2) {
    margin-left: 0;
    margin: 10px auto;
  }
}
.btns button:hover {
  opacity: 0.93;
}
