.header {
  padding: 20px 0;
  position: fixed;
  top: 0;
  left: 100px;
  right: 0;
  z-index: 12;
  background-color: #f6f9fc;
}
@media (max-width: 768px) {
  .header {
    left: 0;
  }
}
.container-fluid .container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 374px) {
  .container-fluid .container {
    justify-content: center;
  }
}
.header .header-left {
  display: flex;
}
.search-input {
  background: #fff;
}
@media (max-width: 375px) {
  .search-input {
    width: 130px;
  }
}
.header .search-input input {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  width: 200px;
  line-height: 45px;
  height: 40px;
  padding-left: 15px;
  border: 1px solid transparent;
}
.header input:focus {
  outline: none;
  border: 1px solid var(--main-color);
}
.header-left svg {
  border-left: 1px solid #ccd7e3;
  height: 40px;
  width: 40px;
  background-color: white;
  text-align: center;
  font-size: 50px;
  cursor: pointer;
  padding: 10px;
}
@media (max-width: 375px) {
  .header-left svg {
    width: 25px;
    padding: 5px;
  }
}
.header-right {
  display: flex;
  align-items: center;
}
.header-right .notification-icon {
  margin-right: 20px;
  cursor: pointer;
  position: relative;
}
@media screen and (max-width: 768px) {
  .header-right .notification-icon {
    margin-right: 0;
  }
}
.header-right .user-pic {
  cursor: pointer;
}
.header-right .user-pic img {
  width: 38px;
  height: 38px;
  border: 3px solid white;
  padding: 2px;
  border-radius: 50%;
}
.header-right .notify-container {
  position: absolute;
  background-color: white;
  padding: 20px;
  top: 40px;
  width: 330px;
  right: -20px;
}
@media screen and (max-width: 374px) {
  .header-right .notify-container {
    width: 288px;
    right: -73px;
  }
}
.notify-container .announcements {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
  color: #053c73;
}
.not-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #eee;
}
.notify-container .not-icon {
  width: 40px;
  height: 40px;
  text-align: center;
  color: white;
  line-height: 40px;
  border-radius: 50%;
}
.not-item .not-text {
  margin-left: 11px;
}
.not-text h4 {
  color: #053c73;
}
.not-text p {
  color: #7184ad;
  font-size: 15px;
}
.notify-container .more {
  text-align: right;
  padding-top: 10px;
  letter-spacing: 1px;
  color: cadetblue;
  cursor: pointer;
}
.notify-container .more:hover a {
  color: var(--main-color);
}
